<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:replace="fragments :: styleLinks" th:remove="tag"></th:block>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<th:block th:replace="fragments :: navigator" th:remove="tag"></th:block>

<div class="content-container">
    <div class="container">
        <div class="row col-12 mt-5">


<!--            <div class="row" th:each="track : ${trackList.getItems()}">-->
<!--                <p th:text="${track.getName()}"></p><br>-->
<!--            </div>-->


            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">id</th>
                    <th scope="col">Track name</th>
                    <th scope="col">Album</th>
                    <th scope="col">Artist</th>
                    <th scope="col">Favorite</th>
                </tr>
                </thead>
                <tbody>
                <tr  th:each="track : ${trackList.getItems()}">
                    <td th:text="${track.getId()}">1</td>
                    <td th:text="${track.getName()}">Mark</td>
                    <td th:text="${track.getAlbum().getName()}"></td>
                    <td th:text="${track.getArtists().get(0).getName()}"></td>
                    <td>
                        <a th:if="${track.getFavorite() == null}" th:href="@{/spotify/add/track(id=${track.getId()})}" class="btn btn-primary btn-sm active" role="button" aria-pressed="true">add</a>
                        <a th:if="${track.getFavorite() != null}" th:href="@{/spotify/remove/track(id=${track.getId()})}" class="btn btn-primary btn-sm active" role="button" aria-pressed="true">remove</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="row col-12 d-flex justify-content-center my-3">
            <div class="col-2">
                <a th:if="${trackList.getPrevious() != null}" th:href="@{/spotify/search/query(q=${trackList.getPrevious()})}">prev page</a>
            </div>
            <div class="col-2">
                <a th:if="${trackList.getNext() != null}" th:href="@{/spotify/search/query(q=${trackList.getNext()})}">next page</a>
            </div>
        </div>
    </div>
</div>


</div>

<th:block th:replace="fragments :: footer" th:remove="tag"></th:block>
<th:block th:replace="fragments :: jsScripts" th:remove="tag"></th:block>
</body>
</html>