<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:replace="fragments :: styleLinks" th:remove="tag"></th:block>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<th:block th:replace="fragments :: navigator" th:remove="tag"></th:block>

<div class="content-container">
    <div class="container">
        <div class="row col-md-12 mt-5">
            <h2>Log list</h2>
        </div>

        <div class="row col-12 mt-1">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">Log date</th>
                    <th scope="col">Log text</th>
                </tr>
                </thead>
                <tbody>
                <tr  th:each="log : ${logList}">
                    <!--/*@thymesVar id="DateTimeFormatter" type=""*/-->
                    <!--/*@thymesVar id="ofPattern" type=""*/-->
                    <td th:text="${log.getLogLocalDateTime()}"></td>
                    <td th:text="${log.getLogText()}">Mark</td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>


</div>

<th:block th:replace="fragments :: footer" th:remove="tag"></th:block>
<th:block th:replace="fragments :: jsScripts" th:remove="tag"></th:block>
</body>
</html>